
body{
    background-color: white;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:  50px;
    padding-right: 100px;
    padding-left: 100px;
    margin: auto ;
    width: 1000px;
    letter-spacing: 0.5px ;
  

}

html {
    background-color:  #89CFF0 ;
    
}

h1{
    color: #57A0D3 ;
    padding: 10px;
    font-size: 50px
}

button {
    background-color: #57A0D3;
    color: white;
    padding: 10px;
    font-size: 25px;
    margin-bottom: 15px
}

div {
    border: 2px solid mediumpurple;
    border-radius: 5px;
    padding: 50px

}

img {
    width: 300px;
    height: 250px;
    padding: 30px;
}

button:hover{
    background-color: mediumpurple
}
